*.class

.idea
.idea/*

.DS_Store
.metadata

# Package Files #
*.war
*.ear
*.class

Servers/
.settings/
.project
*/.classpath
*/.mvn

**/target/**
target/**
lareferencia-oclc-harvester.iml
.classpath
.factorypath
pom.xml.versionsBackup
